body, html {
  padding: 0px;
  margin: 0px;
  height: 100%;
}

svg {
  pointer-events: all;
}

.title {
  cursor: pointer;
}

.node {
  position: absolute;
  cursor: pointer;
}

.binding {
  position: absolute;
}

#main {
    position: absolute;
    padding: 0px;
    margin: 0px;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#map {
  position: absolute;
  padding: 0px;
  margin: 0px;
}

#messagebox {
  
}
