body, html {
  padding: 0px;
  margin: 0px;
  height: 100%;
}

svg {
  pointer-events: all;
}

.title {
  cursor: pointer;
}

.node {
  position: absolute;
  cursor: pointer;
}

.binding {
  position: absolute;
}

#main {
    position: absolute;
    padding: 0px;
    margin: 0px;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#map {
  position: absolute;
  padding: 0px;
  margin: 0px;
}

#messagebox {
  transition: 0.5s;

  opacity: 0;
  border-radius: 10px;
  border: 2px solid #ecf0f1;
  position: absolute;
  text-align:left;
  padding: 10px;
  margin-left: auto;
  background-color: rgba(0,0,0,0.8);
  font-family: Roboto, sans-serif;
  color: #ecf0f1;
  top: 5%;
  right: 5%;
  max-width: 20%;
  min-width: 344px;
  height: auto;
}

#takeMeToChurch, #weBuiltThisCity{
  padding: 7px;
  position: relative;
  float:left;
  margin: 5% 10%;
  border: 2px solid #ecf0f1;
  cursor: pointer;
}
